<%= render 'welcome/slider' %>
<div class="row">
  <div class="col s12 m12">
    <div class="card-panel center">
      <article class="center">
        El principal activo de nuestra empresa, es sin duda, el capital humano de nuestros empleados, formado por un amplio grupo de técnicos con una amplia experiencia en el desarrollo de obra civil, comercial, y realización de reformas de todo tipo. Bajo esta premisa desarrollamos nuestros proyectos, exigiendo en cada uno de ellos la máxima efectividad de nuestro personal, a fin de obtener la calidad avalada por nuestra amplia experiencia en el sector.
      </article>
      <br>
      <article class="center">
        Si está buscando una empresa dinámica con iniciativa y respaldada por un grupo de profesionales con amplia experiencia en el sector de la construcción y reformas, no lo dude contacte con nosotros.
      </article>
    </div>
    <div class="row center">
      <%= link_to "Contáctanos ahora", root_path, :class=>"btn waves-effect waves-teal btn-large indigo" %>
      <br><br>
    </div>
  </div>
</div>
