<div class="row">
  <div class="col s12 l12 center"><h5>Editar imagen</h5></div>
  <div class="col s6 l12 center"><%= link_to 'Regresar', galleries_path, :class=>"waves-effect waves-light btn indigo" %></div>
</div>

<%= render 'form' %>
