amarillo = #FBBD35
amarillo_claro = #EFC68A
azul_fb  = #39579E
azul_tt  = #5FA9DD
blanco_bg = #FFFFFF
crema    = #F5E5D6
gris_claro = #818181
gris_oscuro = #333333
gris_mas_claro = #F0F0F0
gris_footer = #242830
rojo     = #D92C2C
rojo_yt = #B80000
verde    = #6BC2BD
violeta = #8134CE
transparente = rgba(0, 0, 25, 0.6)

body
  display flex
  min-height 100vh
  flex-direction column
  main
    flex 1 0 auto

nav ul a
  nav .brand-logo
    color azul_tt

p
  line-height 2rem

.button-collapse
  color: azul_fb
